In [30]:
import pandas as pd
import numpy as  np

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
imoveis = pd.read_excel('BCIS 2023.xlsx')

In [3]:
imoveis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148263 entries, 0 to 148262
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   insc_munic           148263 non-null  int64
 1   nome_bairr           148263 non-null  object
 2   formato              148256 non-null  object
 3   topografia           148261 non-null  object
 4   tipo_ocupacao        148197 non-null  object
 5   especie_unidade      134236 non-null  object
 6   regime_utilizacao    134241 non-null  object
 7   conservacao_interna  134236 non-null  object
 8   idade                134235 non-null  object
 9   conservacao_externa  134230 non-null  object
 10  limpeza_urbana       148229 non-null  object
 11  tipo_pavimentacao    148259 non-null  object
 12  coleta_lixo          148237 non-null  object
 13  energia_eletrica     148243 non-null  object
 14  area_lote            148263 non-null  float64
 15  testada              148263 non-null  float64
 16  lateral_direita      147083 non-null  float64
 17  lateral_esquerda     147077 non-null  float64
 18  fundos               147083 non-null  float64
 19  area_total_const     145340 non-null  float64
 20  numero_unidade       145313 non-null  float64
 21  numero_pavimento     144677 non-null  float64
 22  area_principal       134308 non-null  float64
 23  num_moradores        125983 non-null  object
 24  num_comodos          131964 non-null  float64
 25  num_quartos          131723 non-null  float64
 26  area_edicula         145358 non-null  float64
 27  area_total_subunid   146253 non-null  float64
 28  venal                148263 non-null  float64
dtypes: float64(14), int64(1), object(14)
memory usage: 32.8+ MB

In [4]:
f'imoveis Dataset contémm {imoveis.shape[0]} linhas e {imoveis.shape[1]} colunas'

'imoveis Dataset contémm 148263 linhas e 29 colunas'

In [7]:
UNIQUE_IMOVEIS = imoveis['insc_munic'].nunique()
f'{UNIQUE_IMOVEIS} imoveis unicos no dataset'

'138859 imoveis unicos no dataset'

In [13]:
imoveis = imoveis.drop_duplicates(subset=['insc_munic', 'nome_bairr','area_lote'])

In [15]:
imoveis.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138859 entries, 0 to 148262
Data columns (total 29 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   insc_munic           138859 non-null  int64
 1   nome_bairr           138859 non-null  object
 2   formato              138852 non-null  object
 3   topografia           138857 non-null  object
 4   tipo_ocupacao        138857 non-null  object
 5   especie_unidade      124938 non-null  object
 6   regime_utilizacao    124943 non-null  object
 7   conservacao_interna  124938 non-null  object
 8   idade                124937 non-null  object
 9   conservacao_externa  124932 non-null  object
 10  limpeza_urbana       138825 non-null  object
 11  tipo_pavimentacao    138855 non-null  object
 12  coleta_lixo          138833 non-null  object
 13  energia_eletrica     138839 non-null  object
 14  area_lote            138859 non-null  float64
 15  testada              138859 non-null  float64
 16  lateral_direita      137679 non-null  float64
 17  lateral_esquerda     137673 non-null  float64
 18  fundos               137679 non-null  float64
 19  area_total_const     135936 non-null  float64
 20  numero_unidade       135909 non-null  float64
 21  numero_pavimento     135273 non-null  float64
 22  area_principal       125010 non-null  float64
 23  num_moradores        119468 non-null  object
 24  num_comodos          122761 non-null  float64
 25  num_quartos          122520 non-null  float64
 26  area_edicula         135955 non-null  float64
 27  area_total_subunid   136849 non-null  float64
 28  venal                138859 non-null  float64
dtypes: float64(14), int64(1), object(14)
memory usage: 31.8+ MB

In [16]:
UNIQUE_BAIRROS = imoveis['nome_bairr'].nunique()
f'{UNIQUE_BAIRROS} bairros unicos no dataset'

'188 bairros unicos no dataset'

In [19]:
UNIQUE_UTILIZAÇÃO = imoveis['regime_utilizacao'].unique()
f'{UNIQUE_UTILIZAÇÃO} são as classificações de utilização'

"[nan 'Residencial' 'Comercial' 'Institucional' 'Em Construcao' 'Servicos'\n 'Em Construcao apenas Laje / Cobertura' 'Industrial'] são as classificações de utilização"

In [21]:
chaves = ['Comercial', 'Servicos', 'Industrial']
selecao = imoveis.loc[imoveis['regime_utilizacao'].isin(chaves)]

In [23]:
UNIQUE_IMOVEIS_SELEÇÃO = selecao['insc_munic'].nunique()
f'{UNIQUE_IMOVEIS_SELEÇÃO} imoveis unicos no dataset'

'15489 imoveis unicos no dataset'

In [24]:
UNIQUE_BAIRROS_SELEÇÃO = selecao['nome_bairr'].nunique()
f'{UNIQUE_BAIRROS_SELEÇÃO} bairros unicos no dataset'

'146 bairros unicos no dataset'

In [27]:
selecao['area_lote'].describe()

count     15489.000000
mean       1408.385743
std       10696.447514
min           6.220000
25%         255.000000
50%         400.000000
75%         700.000000
max      487620.940000
Name: area_lote, dtype: float64

In [28]:
selecao['area_principal'].describe()

count    15487.000000
mean       162.511803
std        612.594969
min          4.510000
25%         32.680000
50%         54.960000
75%        115.610000
max      23211.780000
Name: area_principal, dtype: float64

In [31]:
selecao['venal'].describe()

count       15489.00
mean       259477.64
std       1372923.50
min          2079.53
25%         39268.47
50%         77687.35
75%        186752.37
max     121268851.29
Name: venal, dtype: float64